/nbproject/private/
/dist/
/build/
/PuntoDeVenta2-war/nbproject/private/
/PuntoDeVenta2-war/build/
/PuntoDeVenta2-war/dist/
/PuntoDeVenta2-ejb/nbproject/private/
/PuntoDeVenta2-ejb/build/
/PuntoDeVenta2-ejb/dist/